/*-- heading */

#main-pic {
  background: url(images/47398081_2346142745457241_6101136975387951104_o.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 360px;
  position: relative;

}

.cover-text {
  font-size: 55px;
  margin-left: 100px;
  margin-top: 50px;
  position: absolute;

}

/*---------------------------------- Footer */

footer {
    background-color: #525252;
    color: #afafaf;
    min-height: 120px;
    margin: 0;
}

.list-inline-item {
  letter-spacing: 30px;
}